@{
    ViewBag.title = "상세보기";
    Layout = "../Shared/_Layout.cshtml";
    //var details = ViewBag.leaderInfolistbyleaderno;
}

<link href="~/css/Detail.css" rel="stylesheet" type="text/css">
<h4 class="title-heading">지도자 등록하기</h4>
<div class="container" id="container1">

    <div class="d-flex flex-column align-items-center">
        <h4 class="section-heading1">1. 일반 현황(2023년 01월 01일 기준)<span class="required-field">* 필수입력값 항목입니다.</span><hr class="section-hr"></h4>
        <div class="container custom-container">
            <div class="row">
                <div class="col-sm-3 left-content">
                    <div id="image-container">
                        <img id="leader-image" alt="" >
                        <p>파일 크기는 MB 이하로 등록해주세요.</p>
                    </div>
                </div>
                <div class="col-sm-9 right-content">
                    <div class="row custom-row">
                        <div class="col-6 col-sm-6">
                            <h8 id="code-heading" class="custom-heading">
                                식별코드<hr class="section-hr2">
                                <div id="leaderNoResult"></div>
                            </h8>
                        </div>
                        <div class="col-6 col-sm-6">
                            <h8 id="school-heading" class="custom-heading">
                                학교명<hr class="section-hr3">
                                <p id="schoolNameResult"></p>
                            </h8>
                        </div>
                    </div>
                    <div class="row custom-row">
                        <div class="col-4 col-sm-4">
                            <h8 id="name-heading" class="custom-heading">
                                성명<hr class="section-hr4">
                                <p id="leaderNameResult"></p>
                            </h8>
                        </div>
                        <div class="col-4 col-sm-4">
                            <h8 id="dob-heading" class="custom-heading">
                                생년월일<hr class="section-hr5">
                                <p id="birthdayResult"></p>
                            </h8>
                        </div>
                        <div class="col-4 col-sm-4">
                            <h8 id="gender-heading" class="custom-heading">
                                성별<hr class="section-hr6">
                                <p id="genderResult"></p>
                            </h8>
                        </div>
                    </div>
                    <div class="row custom-row">
                        <div class="col-4 col-sm-4">
                            <h8 id="sport-heading" class="custom-heading">
                                종목<hr class="section-hr7">
                                <p id="sportNameResult"></p>
                            </h8>
                        </div>
                        <div class="col-4 col-sm-4">
                            <h8 id="phone-heading" class="custom-heading">
                                근무지 전화번호<hr class="section-hr8">
                                <p id="telNoResult"></p>
                            </h8>
                        </div>
                        <div class="col-4 col-sm-4">
                            <h8 id="hire-date-heading" class="custom-heading">
                                최초채용<hr class="section-hr9">
                                <p id="empDTResult"></p>
                            </h8>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="section-heading2">
            2. 근무 이력(전라북도교육청 소속 - 최초 채용일로부터)<span class="required-field">필수입력값 항목입니다.</span><hr class="section-hr">
            <p>※ 현재 근무 중인 경우 근무 종료일을 입력하지 마십시오.</p>
            <table id="myTable1">
                <tr>
                    <th>근무기관</th>
                    <th>근무시작일</th>
                    <th>근무종료일</th>
                    <th>종목</th>
                </tr>
                <tbody class="historyTable_body"></tbody>
            </table>
        </h4>
        <h4 class="section-heading3">
            3. 자격사항<span class="required-field">필수입력값 항목입니다.</span><hr class="section-hr">
            <table id="myTable2">
                <tr>
                    <th>자격/면허</th>
                    <th>자격번호</th>
                    <th>취득일자</th>
                    <th>발급기관</th>
                </tr>
                <tbody class="certificateTable_body"></tbody>
            </table>
        </h4>
        <div class="button-box">
            <div class="button main" onclick="window.location.href='@Url.Action("Start")'">목록으로</div>
            <div class="button change" id="editButton">수정하기</div>
            </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            // URL에서 식별코드 파라미터 읽기
            var urlParams = new URLSearchParams(window.location.search);
            var leaderNo = urlParams.get('leaderNo');

            loadLeaderDetails(leaderNo);

            // leaderNo를 폼에 설정
            $('#leaderNoInput').val(leaderNo);

            // 수정 버튼 클릭 시 Edit 페이지로 이동
            $('#editButton').on('click', function () {
                var EditUrl = '@Url.Action("Edit")';
                window.location.href = EditUrl + '?leaderNo=' + leaderNo;
            });
        });

        function loadLeaderDetails(leaderNo) {
            $.ajax({
                url: '/Home/DetailInfo?leaderNo=' + leaderNo,
                method: 'GET',

                dataType: 'json',
                success: function (result) {
                    fillHistoryTable(result.work);
                    fillCertificateTable(result.certificate);
                    displayData(result);
                },
                error: function (error) {
                    console.error('데이터를 가져오는 중 오류 발생:', error);
                }
            });
        }

        // 날짜 형식을 가공하는 함수
        function formatDate(dateString) {
            var date = new Date(dateString);
            var formattedDate = date.getFullYear() + '.' + (date.getMonth() + 1) + '.' + date.getDate();
            return formattedDate;
        }

        // 근무이력 테이블
        function fillHistoryTable(historyData) {
            var historyStr = '';
            $.each(historyData, function (i, val) {
                var formattedStartDT = formatDate(val.startDT); // 날짜 형식 가공
                var formattedEndDT = formatDate(val.endDT); // 종료일 가공

                historyStr += '<tr><td>' + val.workPlace + '</td><td>' + formattedStartDT + '</td><td>' + formattedEndDT + '</td><td>' + val.sportName + '</td></tr>';
            });
            $('.historyTable_body').append(historyStr);
        }

        // 자격사항 테이블
        function fillCertificateTable(certificateData) {
            var certificateStr = '';
            $.each(certificateData, function (i, val) {
                var formattedCertificateDT = formatDate(val.certificateDT); // 날짜 형식 가공

                certificateStr += '<tr><td>' + val.certificateName + '</td><td>' + val.certificateNumber + '</td><td>' + formattedCertificateDT + '</td><td>' + val.origanization + '</td></tr>';
            });
            $('.certificateTable_body').append(certificateStr);
        }

        // 날짜 형식을 가공하는 함수
        function formatDate(dateString) {
            var date = new Date(dateString);
            var formattedDate = date.getFullYear() + '.' + (date.getMonth() + 1) + '.' + date.getDate();
            return formattedDate;
        }

        // 받아온 데이터를 화면에 표시하는 함수
        function displayData(data) {
            // console.log(`data: ${typeof data}`);

            // 이미지 태그
            $('#leader-image').attr('src', data.imageBase); // 제이쿼리 attr -> 속성값을 가져오거나 변경할 수 있는 함수

            var birthday = new Date(data.birthday);
            var empDT = new Date(data.empDT);

            // 원하는 형식으로 가공하기
            var formattedbirthday = birthday.getFullYear() + '.' + (birthday.getMonth() + 1) + '.' + birthday.getDate();
            var formattedempDT = empDT.getFullYear() + '.' + (empDT.getMonth() + 1) + '.' + empDT.getDate();

            // 다른 데이터 표시
            $('#leaderNoResult').text(data.leaderNo);
            $('#schoolNameResult').text(data.schoolName);
            $('#leaderNameResult').text(data.leaderName);
            $('#birthdayResult').text(formattedbirthday);
            $('#genderResult').text(data.gender);
            $('#sportNameResult').text(data.sportName);
            $('#telNoResult').text(data.telNo);
            $('#empDTResult').text(formattedempDT);
        }
    </script>
}
